@model ClickCountByRedis.Models.News


@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Model.Title</title>
</head>
<body>
    <div> 
        点击量：@Model.ClickCount
    </div>
</body>
</html>
